<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css" />
        <meta name="viewport" content="width=devices-width, initial-scale=1">
        <title>User Friendly</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/index.html">Accueil</a></li>
                    <li><a href="/recherche">Recherche</a></li>
                    <li><a href="/about.html">À propos</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </nav>
        <h1>Bienvenue sur User Friendly</h1>    
        </header>
            <h1>À propos de User Friendly</h1>
            <p>
                User Friendly est une plateforme dédiée aux amateurs de musique, offrant des informations détaillées sur les artistes, leurs discographies, et les événements à venir. Notre mission est de connecter les fans avec leurs artistes préférés et de fournir une expérience utilisateur exceptionnelle.
                Nous croyons que la musique est un langage universel qui transcende les frontières et les cultures. C'est pourquoi nous nous efforçons de créer une communauté inclusive où les fans peuvent partager leur passion pour la musique et découvrir de nouveaux talents.
                Notre équipe est composée de passionnés de musique qui travaillent sans relâche pour fournir des informations précises et à jour sur les artistes et les événements. Nous sommes constamment à la recherche de nouvelles fonctionnalités pour améliorer l'expérience utilisateur et rendre la découverte de la musique encore plus agréable.
                Nous espérons que vous apprécierez votre expérience sur User Friendly et que vous trouverez tout ce dont vous avez besoin pour rester connecté avec vos artistes préférés et découvrir de nouveaux talents.
            </p>