<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css" />
        <meta name="viewport" content="width=devices-width, initial-scale=1">
        <title>User Friendly</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/index.html">Accueil</a></li>
                    <li><a href="/recherche">Recherche</a></li>
                    <li><a href="/about.html">À propos</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </nav>
        <h1>Bienvenue sur User Friendly</h1>    
        </header>
        <h1>Contactez-nous</h1>
        <p>
            Si vous avez des questions, des suggestions ou souhaitez en savoir plus sur User Friendly, n'hésitez pas à nous contacter.<br />
            Vous pouvez nous envoyer un e-mail à <a href="mailto:contact@userfriendly.com">contact@userfriendly.com</a> 
            ou nous suivre sur les réseaux sociaux pour rester à jour avec les dernières nouvelles et mises à jour de notre plateforme.<br />
            Nous sommes impatients de vous entendre et de continuer à améliorer votre expérience sur User Friendly grâce à vos précieux retours.</p>
