<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css" />
        <meta name="viewport" content="width=devices-width, initial-scale=1">
        <title>User Friendly</title>
    </head>
    <body>
        <h1>Bienvenue sur User Friendly</h1>
        <p>Ceci est la page d'accueil de notre application web.</p>
        
        <div class="cards">
            <article class="card">
                <header>
                    <h2>Odetari</h2>
                </header>
                <img
                    src="/image/Odetari.jpg"
                    alt="Odetari" />
                <div class="content">
                    <p>
                        Chanteur et compositeur français, Odetari est connu pour son style unique mêlant musique urbaine et influences électroniques.
                    </p>
                </div>
            </article>

            <article class="card">
                <header>
                    <h2>Freeze Corleone</h2>
                </header>
                <img
                    src="/image/Freeze.jpg"
                    alt="Freeze Corleone" />
                <div class="content">
                    <p>
                        Freeze Corleone est un rappeur français reconnu pour ses paroles percutantes et son style distinctif dans le paysage du rap français.
                    </p>
                </div>
            </article>
        </div>
    </body>
</html>
