<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Friendly</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/recherche">Recherche</a></li>
                <li><a href="/about.html">À propos</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
        <h1>Bienvenue sur User Friendly</h1>
    </header>

    <div class="cards">
        {{range .Artists}}
        <a href="/artist?id={{.ID}}" style="text-decoration: none;">
            <article class="card">
                <header>
                    <h2>{{.Name}}</h2>
                </header>
                <img src="{{.Image}}" alt="{{.Name}}" />
                <div class="content">
                    <p>
                        <strong>Fondation:</strong> {{.CreationDate}}<br>
                        <strong>Premier album:</strong> {{.FirstAlbum}}<br>
                        <strong>Membres:</strong> {{len .Members}}
                    </p>
                </div>
            </article>
        </a>
        {{end}}
    </div>
</body>
</html>
