body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background: rgba(249, 245, 245, 0.238)
}
h1 {
    text-align: center;
    color: #ffffff;
    background-color: #f0f2f4;
    border: 1px sol whitesmoke;
}

p {
    color: #ecf0f1;
}

title {
    font-size: 24px;
    font-weight: bold;
}
.cards {
    max-width: 700px;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 10px;
}

.card {
    border: 1px solid #99999956;
    border-radius: 3px;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    padding: 100px;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card h2 {
    margin: 0;
    padding: 0.5rem;
}

.card .content {
    padding: 0.5rem;
}

.card footer {
    background-color: #333333;
    color: white;
    padding: 0.5rem;
}