body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 30px;
    background: rgba(0, 0, 0, 0.696)
}
header
{
    background: #333333;
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
    margin-bottom: 20px;
    margin: -30px -30px 20px -30px;
}
h1 {
    text-align: center;
    color: #f9f6f6;
    margin-top: 10px;
    padding: 10px;
}

h2 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

title {
    font-size: 24px;
    font-weight: bold;
}
.cards {
    max-width: 1500px;
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 10px;
}

.card {
    border: 1px solid #99999956;
    border-radius: 3px;
    font-size: 15px;
    background-color: #0e0e0fdc;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.358);
    padding: 30px;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card h2 {
    margin: 0;
    padding: 0.5rem;
}

.card .content {
    padding: 0.5rem;
}

.card footer {
    background-color: #333333;
    color: rgb(16, 15, 15);
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555555;
}